.logo-container, .loader-container, body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-info__origin, .character-info__gender, .character-info__specie, .character-info__name {
  color: #FFF;
  font-weight: 600;
}

body {
  background-color: #171d26;
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  width: 100vw;
}

.index-page {
  width: 80%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.index-page__image {
  width: 100%;
  max-width: 1300px;
  max-height: 450px;
  border-radius: 12px;
}
.index-page__text {
  color: #f0e14a;
  font-size: 1.3rem;
  text-align: justify;
}
.index-page__button {
  position: relative;
  background-color: rgb(230, 34, 77);
  border-radius: 0.5rem;
  box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
  padding: 1rem 1.5rem;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: #fff;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
.index-page__button:before {
  content: "";
  background-color: rgb(248, 50, 93);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}
.index-page__button:hover::before {
  width: 100%;
}

.home {
  display: block;
}

.home__title {
  font-size: 2.5rem;
  text-align: center;
  color: #97ce4c;
}

.loader-container {
  height: 100vh;
}
.loader-container .loader {
  width: 6em;
  height: 6em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-container .loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate023845 3s linear infinite;
}
.loader-container .loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: gold;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}
.loader-container .loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: lime;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}
.loader-container .loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}
.loader-container .loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: "";
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate023845 {
  to {
    transform: rotate(1turn);
  }
}
.content-wrapper {
  display: none;
}

.logo-container {
  width: 100vw;
  margin: 2rem 2rem 3rem 2rem;
}
.logo-container__logo {
  width: 90%;
  max-width: 800px;
}

.character-filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 2rem 0;
}
.character-filters-container__button {
  border-radius: 0.5rem;
  background-color: rgb(230, 34, 77);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}
.character-filters-container__button:hover {
  box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
}
.character-filters-container__button:active {
  transform: scale(0.97);
  box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
}

@media screen and (max-width: 970px) {
  .character-filters-container {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.filter-option__label.filter-option__label--status {
  color: #FFF;
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.filter-option__label.filter-option__label--specie {
  color: #f0e14a;
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.filter-option__label.filter-option__label--gender {
  color: #00b1c8;
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.select-container {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 10rem;
  height: 2rem;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.select-container__option {
  color: inherit;
  background-color: #320a28;
}
.select-container__option:focus {
  outline: none;
}
.select-container__option::-ms-expand {
  display: none;
}

.characters-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  gap: 3rem;
  margin: auto;
  padding: 2rem 0;
}

.character-card {
  max-width: 20rem;
  box-shadow: 2px 2px 3px 4px #acf1a5;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.character-card__image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.character-card__status {
  background-color: #5f1daf;
  color: #fff;
  padding: 0.3rem 0.5rem;
  max-width: 5rem;
  text-align: center;
  font-weight: 600;
  border-radius: 0.75rem;
  position: absolute;
  right: 0;
  top: 0.3125rem;
  margin-right: 0.3125rem;
}
.character-card__status.character-card__status--Alive {
  background-color: #157a15;
}
.character-card__status.character-card__status--Dead {
  background-color: #b7203c;
}

.character-info {
  padding: 1rem;
}
.character-info-labels {
  display: flex;
  gap: 3rem;
  margin: 0.3rem 0;
}
.character-info__label {
  color: #e89ac7;
  font-size: 0.8rem;
}
.character-info__name {
  margin: 0.3rem 0 1rem 0;
  font-weight: bold;
}
.character-info__specie {
  color: #f0e14a;
}
.character-info__gender {
  color: #00b1c8;
}
.character-info__origin {
  color: #97ce4c;
}/*# sourceMappingURL=style.css.map */