@import '../mixins/mixins';

.home {
    display: block;
}

.home {
    &__title {
        font-size: 2.5rem;
        text-align: center;
        color: $title-color;
    }
}

.loader-container {
    height: 100vh;
    @extend %center-child;

    .loader {
        width: 6em;
        height: 6em;
        font-size: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .face {
            position: absolute;
            border-radius: 50%;
            border-style: solid;
            animation: animate023845 3s linear infinite;

            &:nth-child(1) {
                width: 100%;
                height: 100%;
                color: gold;
                border-color: currentColor transparent transparent currentColor;
                border-width: 0.2em 0.2em 0em 0em;
                --deg: -45deg;
                animation-direction: normal;
            }

            &:nth-child(2) {
                width: 70%;
                height: 70%;
                color: lime;
                border-color: currentColor currentColor transparent transparent;
                border-width: 0.2em 0em 0em 0.2em;
                --deg: -135deg;
                animation-direction: reverse;
            }

            .circle {
                position: absolute;
                width: 50%;
                height: 0.1em;
                top: 50%;
                left: 50%;
                background-color: transparent;
                transform: rotate(var(--deg));
                transform-origin: left;

                &::before {
                    position: absolute;
                    top: -0.5em;
                    right: -0.5em;
                    content: '';
                    width: 1em;
                    height: 1em;
                    background-color: currentColor;
                    border-radius: 50%;
                    box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1);
                }
            }
        }
    }
}


@keyframes animate023845 {
    to {
        transform: rotate(1turn);
    }
}

.content-wrapper {
    display: none;
}

.logo-container {
    width: 100vw;
    @extend %center-child;
    margin: 2rem 2rem 3rem 2rem;

    &__logo {
        width: 90%;
        max-width: 800px;
    }
}

.character-filters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0;

    &__button {
        border-radius: $btn-border-radius;
        background-color: $btn-bg-color;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        color: $btn-color-text;
        border: none;
        text-align: center;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            box-shadow: $btn-box-shadow;
        }

        &:active {
            transform: scale(0.97);
            box-shadow: $btn-box-shadow;
        }
    }
}

// Responsive
@media screen and (max-width: 970px) {
    .character-filters-container {
        flex-direction: column;
        gap: 1.5rem;
    }
}
// End

.filter-option {
    &__label.filter-option {
        &__label {
            &--status {
                @include option-label($status-label-color);
            }

            &--specie {
                @include option-label($specie-label-color);
            }

            &--gender {
                @include option-label($gender-label-color);
            }
        }
    }
}

.select-container {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 10rem;
  height: 2rem;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, $glass-icon 3em, $glass 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &__option {
    color: inherit;
    background-color: $option;

    &:focus {
        outline: none;
    }

    &::-ms-expand {
        display: none;
    }
  }
}

.characters-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    gap: 3rem;
    margin: auto;
    padding: 2rem 0;
}

.character-card {
    width: 20rem;
    max-width: 20rem;
    box-shadow: 2px 2px 3px 4px #acf1a5;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    position: relative;

    &__image {
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
    }

    &__status {
        background-color: #5f1daf;
        color: #fff;
        padding: 0.3rem 0.5rem;
        max-width: 5rem;
        text-align: center;
        font-weight: 600;
        border-radius: 0.75rem;
        position: absolute;
        right: 0;
        top: 0.3125rem;
        margin-right: 0.3125rem;
    }

    &__status.character-card__status--Alive {
        background-color: #157a15;
    }

    &__status.character-card__status--Dead {
        background-color: #b7203c;
    }
}

.character-info {
    padding: 1rem;

    &-labels {
        display: flex;
        gap: 3rem;
        margin: 0.3rem 0;
    }


    &__label {
        color: #e89ac7;
        font-size: 0.8rem;
    }

    &__name {
        @extend %character-text-info;
        margin: 0.3rem 0 1rem 0;
        font-weight: bold;
    }

    &__specie {
        @extend %character-text-info;
        color: $text-color;
    }

    &__gender {
        @extend %character-text-info;
        color: #00b1c8;
    }

    &__origin {
        @extend %character-text-info;
        color: #97ce4c;
    }
}