@import '../variables/variables';
@import '../placeholder/placeholders';

body {
    background-color: $page-bg-color;
    font-family: "Source Sans Pro", sans-serif;
    height: 100vh;
    width: 100vw;
    @extend %center-child;
}

.index-page {
    width: 80%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;

    &__image {
        width: 100%;
        max-width: 1300px;
        max-height: 450px;
        border-radius: 12px;
    }

    &__text {
        color: $text-color;
        font-size: 1.3rem;
        text-align: justify;
    }

    &__button {
        position: relative;
        background-color: $btn-bg-color;
        border-radius: $btn-border-radius;
        box-shadow: $btn-box-shadow;
        padding: 1rem 1.5rem;
        background-repeat: no-repeat;
        box-sizing: border-box;
        color: $btn-color-text;
        border: none;
        font-size: 1rem;
        transition: all .3s ease-in-out;
        z-index: 1;
        overflow: hidden;
        cursor: pointer;

        &:before {
            content: "";
            background-color: rgb(248, 50, 93);
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: width 700ms ease-in-out;
            display: inline-block;
        }

        &:hover::before {
            width: 100%;
        }
    }
}