$font-stack: 'Source Sans Pro', sans-serif;
$text-color: #f0e14a;
$title-color: #97ce4c;
$character-info-color-text: #FFF;
$btn-border-radius: 0.5rem;
$card-border-radius: 0.5rem;
$page-bg-color: #171d26;