$font-stack: 'Source Sans Pro', sans-serif;
$text-color: #f0e14a;
$title-color: #97ce4c;
$status-label-color: #FFF;
$specie-label-color: #f0e14a;
$gender-label-color: #00b1c8;
$character-info-color-text: #FFF;
$btn-border-radius: 0.5rem;
$card-border-radius: 0.5rem;
$page-bg-color: #171d26;
$btn-bg-color: rgb(230, 34, 77);
$btn-box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
$btn-color-text: #fff;
$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);
$gradient: linear-gradient(35deg, red, purple);
$option: #320a28;